<?xml version="1.0"?>
<configuration>
  <CUSConnection>
    <!--<CUSConnectionString>Data Source=TUL-DRBREASHEAR\MSSQLSERVER01;Initial Catalog=DEV_700;Persist Security Info=True;User ID=sa;Password=Dave22sa!</CUSConnectionString>-->
    <CUSConnectionString>Data Source=midland\jenzadmin01;Initial Catalog=JenzDB01;Persist Security Info=True;User ID=sa;Password=SASQLmidlandcollege!</CUSConnectionString>
  </CUSConnection>
</configuration>
