<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="3.1.1" targetFramework="net461" />
  <package id="jquery.datatables" version="1.10.15" targetFramework="net461" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net461" />
  <package id="TinyMCE" version="4.7.0" targetFramework="net461" />
</packages>